<h1>Listing tasks</h1>
<div id="total_tasks">
  Totally you have <%=pluralize( @tasks.count , "task")%> now.
</div>
<%= link_to 'Add new task', new_task_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
			<td><%= link_to 'Delete', task_path(task), 
			        method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
