<div class="container">
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @task.desc %>
</p>

<p>
<strong>Created at:</strong>
  <%= @task.created_at %>
</p>
<% if @task.completed %>
  <p>
    <strong>Completed?</strong>
    <%= @task.completed %>
  </p>
  <p>
    <strong>Completed at:</strong>
    <%= @task.completed_at %>
	</p>
<% else %>
	<p>
    <strong>Completed?</strong>
    Not yet.
	</p>
<% end %>
<%= link_to 'Back to task list', tasks_path %>
| <%= link_to 'Edit', edit_task_path(@task) %>
</div>
